<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calculator.poverty.dog.povertycalculator">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".money.Money" />
        <activity android:name=".money.spent.Spent" />
        <activity android:name=".money.gotmoney.GotMoney" />
        <activity android:name=".money.moneybox.MoneyBox"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".money.settings.Settings" />
        <activity android:name=".money.moneybox.AddPositionToMoneyBox" />
        <activity android:name=".money.moneybox.SpentFromMoneyBox" />
        <activity android:name=".money.order.Order" />


        <activity
            android:name=".tasks.Tasks"
            android:label="@string/title_activity_tasks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="res.la.MainActivity"></activity>
    </application>


</manifest>